<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>App</title>
  <link rel="stylesheet" type="text/css" href="/semantic.min.css"/>
  <script type="text/javascript" src="/riot.min.js"></script>
  <script type="text/javascript" src="/semantic-ui-riot.min.js"></script>
  <style type="text/css">
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
      top: 200px;
    }
  </style>


</head>

<body style="background-color:#DADADA">
    <header></header>
    <content></content>
    <!-- <footer></footer> -->
</body>
</html>
