<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>App</title>
  <link rel="stylesheet" type="text/css" href="/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="/transition.min.css"/>
  <link rel="stylesheet" type="text/css" href="/sidebar.min.css"/>
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/riot.min.js"></script>
  <script type="text/javascript" src="/semantic.min.js"></script>
  <script type="text/javascript" src="/transition.min.js"></script>
  <script type="text/javascript" src="/sidebar.min.js"></script>
  <script>var obs = riot.observable();</script>
</head>

<body>
  <header></header>
  <div>
    <menu class="pusher"></menu>
    <guidance></guidance>
    <content></content>
  </div>
  <!-- <footer></footer> -->
</body>
</html>
