<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>App</title>
</head>

<body>
  <div id="layout-type-1" class="startedpushable" ontouchstart>
    <div class="ui inverted menu navbar">
      <navbar-menu-items></navbar-menu-items>
    </div>
    <div class="ui vertical inverted sidebar menu left" id="toc">
      <sidebar-menu-items></sidebar-menu-items>
    </div>
    <div class="pusher">
      <full-height></full-height>
    </div>
  </div>
</body>

</html>