<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>App</title>
</head>

<body>
  <div id="wrapper">
    <div class="page-wrapper theme chiller-theme toggled">
      <div id="show-sidebar">
        <a href="#"><i class="fa fa-fw fa-bars fa-pull-right"></i></a>
      </div>
      <menu class="mt-0" brand="Mosuke online" brand_url="#" tag.menu="sidebar" show_close="true"></menu>
    </div>
  </div>
  </div>
</body>

</html>